<h1>{{title}}</h1>
<h3>Group</h3>
<hr />
<form [formGroup]="groupForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12" for="Name">Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>
  <div class="form-student row">
    <label class=" control-label col-md-12" for="Group">Group</label>
    <div class="col-md-4">
      <ng-container *ngIf="courseList">
        <select class="form-control" formControlName="courseId">
          <option *ngFor="let course of courseList" value="{{ course.id }}">{{ course.specialization}}</option>
        </select>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
