<h1>
  Detail of "{{group.name}}" 
  (<a [routerLink]="['/group/edit/', group.id]">Edit</a>)
</h1>
<h2>Course {{group.course}}</h2>
<div class="grid">
  <div class="column">
    <h2>Student Data</h2>
    <p *ngIf="!group.students"><em>Loading...</em></p>
    <table class='table' *ngIf="group.students">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr *ngFor="let student of group.students">
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>
            <td>
              <a [routerLink]="['/student/edit/', student.id]">Edit</a> |
              <a [routerLink]="" (click)="delete(student.id)">Delete</a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
