<h1>Group Data</h1>
<p>This component demonstrates fetching Group data from the server.</p>
<p *ngIf="!groupList"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/register-group']">Create New</a>
</p>
<table class='table' *ngIf="groupList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groupList">
      <td>{{ group.id }}</td>
      <td>{{ group.name }}</td>
      <td>
      <td>
        <a [routerLink]="['/group/edit/', group.id]">Edit</a> | 
        <a [routerLink]="['/group/detail/', group.id]">Details</a> | 
        <a [routerLink]="" (click)="delete(group.id)">Delete</a> 
      </td>
    </tr>
  </tbody>
</table>
